
:root {
    --heart-primary: rgb(134, 11, 145);
    --heart-wrapper-size: 300px; 
    --heart-part-width: 160px; 
    --heart-part-height: 250px;
    --heart-box-shadow-primary: #e751c7;
  }
  

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    background: black;
    overflow: hidden;
  }
  

  *, *::before, *::after {
    position: absolute;
  }
  

  *::before, *::after {
    content: '';
    z-index: 1;
  }
  

  .heart {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: var(--heart-wrapper-size);
      width: var(--heart-wrapper-size);
      transform-origin: 0 0;
       animation: pulse 1.5s ease infinite; 
  }
  
  .heart::before, .heart::after {
      width: var(--heart-part-width);
      height: var(--heart-part-height);
      background: var(--heart-primary);
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
  }
  
  .heart::before {
      left: 36px;
      box-shadow: 0px 0px 10px var(--heart-box-shadow-primary), inset -5px 7px 10px var(--heart-box-shadow-primary);
      transform: rotate(-45deg);
  }
  
  .heart::after {
      left: 100px;
      box-shadow: 8px 0px 5px var(--heart-box-shadow-primary), inset -5px 10px 5px var(--heart-box-shadow-primary);
      transform: rotate(45deg);
  }
  
  @keyframes pulse {
      0% {
          transform: scale(1) translate(-50%, -50%);
      }
      20% {
          transform: scale(1.2) translate(-50%, -50%);
      }
      40% {
          transform: scale(1) translate(-50%, -50%);
      }
      60% {
          transform: scale(1.2) translate(-50%, -50%);
      }
      80% {
          transform: scale(1) translate(-50%, -50%);
      }
      100% {
          transform: scale(1) translate(-50%, -50%);
      }
  }